<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center mt-7">
          <h2>求人情報変更</h2>
        </div>
      </div>
    </div>
      <%= form_with model:@job_information, method: :patch, url: "/employer/job_informations/#{@job_information.id}", local:true do |f| %>
        <%= render partial: 'form', locals: { :f => f, job_information: @job_information, hospital: @hospital} %>
      <% end %>
  </div>
</div>

