<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center mt-7">
          <h2>求人情報新規作成</h2>
        </div>
      </div>
    </div>
    <%= render "form", job_information: @job_information, hospital: @hospital,  btn: "new" %>
    　<!--btn = "new"でformのボタンを"登録"で表示-->
    </div>
  </div>
</div>
