<div class="notification_btn">クリック<div class="notification_index">
<% @notifications.each do |notification| %>
 <% if notification.checked == false %>
   <p class="text-danger d-inline">new</p>
   新しい<%= notification.action %>が届いています。
  <% notification.checked = true %>
  <% notification.save %>
  <% else %>
    <%= notification.action %>が届いています。
<% end %>
<% end %></div>

</div>

