<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-10">
      <div class="d-flex align-items-center justify-content-center">
        <h2>退会処理をしますか？</h2>
      </div>
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-10">
      <div class="d-flex align-items-center justify-content-center">
        <%= link_to "やめる", admin_hospitls_path, class: "btn btn-secondary m-3" %>
        <%= link_to "退会処理", admin_hospitl_path(@hospital), method: :delete, class: "btn btn-danger m-3" %>
      </div>
    </div>
  </div>
</div>