<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center mt-7">
          <h3>ヘルプ　Q＆A</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-10">
      <p class="font-weight-bold">Q.会員登録は必要ですか？</p>
      A.会員登録をして頂かなくても、求人情報の閲覧ができます。
      応募、メッセージのやり取りは会員登録が必要なので、自分に合った求人情報が見つかった際は、
      登録してみて下さい。
    </div>
    <div class="col-lg-10 mt-5">
      <p class="font-weight-bold">Q.本名を登録するのに抵抗があります。</p>
      A.表示名は本名からニックネームに変更することができます。マイページのプロフィール編集から、
      表示名を『ニックネーム』で選択して頂き、ニックネームを入力して登録して下さい。
    </div>
    <div class="col-lg-10 mt-5">
      <p class="font-weight-bold">Q.退会方法を教えて下さい。</p>
      A.マイページからプロフィール編集ボタンをクリックし、
      マイページ編集画面下部の『退会する』ボタンから退会して下さい。
    </div>
    <div class="col-lg-10 mt-5">
      <p class="font-weight-bold">Q.退会と在職中ステータスはどう違いますか</p>
      A.プロフィールでステータスを在職中にして頂きますと、病院・企業からあなたのプロフィールが見えなくなります。
      この状態での求人情報への応募は出来ません。求職中に変えることで、すぐに求職活動を再開することができます。
      退会を選択されますと、プロフィールやお気に入り、メッセージ履歴が全て消去され、サイトをご利用になることができなくなります。
    </div>
    <div class="col-lg-10 mt-5">
      <p class="font-weight-bold">Q.すでに募集していない求人情報、不適切な求人情報があります。</p>
      A.求人情報の病院名をクリックし、病院詳細ページから、通報ボタンをクリックして下さい。
      通報メール作成ページへ移動したら、そちらに御用件の記載をお願い致します。管理者にメールが届き、内容に応じて対応を検討いたします。

    </div>
    <div class="col-lg-10 mt-5">
      <p class="font-weight-bold">Q.通報やメッセージの拒否をしたら、相手に伝わりますか。</p>
      A.通報はお相手には伝わりませんのでご安心ください。メッセージの拒否は、
      お相手もメッセージの送信が不可能になるので、伝わることがございます。
    </div>
    <div class="col-lg-10 mt-5">
      <p class="font-weight-bold">Q.お気に入りは相手に伝わりますか？</p>
      A.求人情報をお気に入りに登録しても、該当する病院・企業様には伝わりません。

    </div>
    <div class="col-lg-10 mt-5">
      <p class="font-weight-bold">Q.スカウトは相手に伝わりますか</p>
      A.通知で看護師のユーザー様に伝わります。
    </div>
    <div class="col-lg-10 mt-5">
      <p class="font-weight-bold">Q.間違えて求人情報に応募してしまいました。</p>
      A.該当の求人情報ページの『応募を取り消す』ボタンをクリックして下さい。
      応募の取り消しが可能です。
    </div>
    <div class="col-lg-10 mt-5">
      <p class="font-weight-bold">Q.間違えてスカウトしてしまいました。</p>
      A.該当する看護師ユーザー様の詳細ページで、『スカウトを取り消す』ボタンをクリックして下さい。
      お相手の通知からスカウト履歴が消去されます。
    </div>
    <div class="col-lg-10 mt-5">
      <p class="font-weight-bold"></p>

    </div>

  </div>
</div>