<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center mt-7">
          <h2>応募一覧</h2>
        </div>
      </div>
    </div>

    <div class="job_informations-box p-2">
      <div class="row">
        <div class="col-3">
          <%= image_tag subscription.nurse.get_image(150, 90), class: "rounded-circle" %>
        </div>
        <% @subscriptions.each do |subscription| %>
        <div class="col-7">
          <%= link_to subscription.nurse.nickname, employer_nurse_path(subscription.nurse_id), class: "text-dark" %><br>
          <%= subscription.created_at %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

