// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.my_message {
  background-color: #ffada3;
  font-family: 'Yusei Magic', sans-serif;
  border-radius: 15px;
  line-height: 1.5;
  padding: 20px;
  margin: 10px 10px 10px 10px;
  position: relative;

}
.my_down_triangle {
  position: absolute;
  bottom: 20px;
  right: -10px;
  color: #ffada3;
}

.your_message {
  background-color: #fff;
  font-family: 'Yusei Magic', sans-serif;
  border-radius: 15px;
  line-height: 1.5;
  padding: 20px;
  margin: 10px 10px 10px 10px;
  position: relative;

}
.your_down_triangle {
  position: absolute;
  bottom: 20px;
  left: -10px;
  color: #fff;
}

@media screen and (max-width:768px) {
  .message-image {
  width: 200px;
  height: 200px;

}
}