<div class="error_explanation ml-md-5">
<% if obj.errors.any? %>

    <h3><%= pluralize(obj.errors.count, "件のエラー") %> </h3>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

<% end %>
</div>